.App {
  text-align: center;
  width: 450px;
  border: 2px solid black;
  margin: 25px auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(14, 201, 201);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.3s ease;
}
.App:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.zip{
  animation: text alternate-reverse infinite 1s;
  text-shadow: 1px 1px 2px red;
}
@keyframes text{
  0%{
transform: translatex(0%);
  }
  100%{
    transform: translatex(10%);
  }
}
 
 @media(max-width:600px){
  .App{
    width: 100%;
     margin: 60px 0;
  }
 }